
.banner {
    text-align: center;
    padding: 2.5px;
    bottom: 10px;
    height: 30px;
    width: 100%;
    justify-content: center;
    background: #42b1c4;
   }
  
.main-footer {
    background-color: rgb(101, 188, 191);
    padding: 2.5px;
    margin-top: 25px;
    margin-left: auto;
    position: inherit;
    text-align: center;
    left: 20px;
    right: 75px;
    bottom: 0px;
    height: 30px;
    width: 100%;
   }

html {
    color: black;
    line-height: 1.5;
    box-sizing: border-box;
}
#name{

    align-items: center;
}

.title {
    text-align: center;
}

body {
    max-width: 100%;
    margin: 0 auto;

}

h1 {
    margin-top: 10px;
}

h2 {
    margin-top: 10px;
}

.iconHerbs {
    image-orientation: center;
    width: 100%;
}

.zoom {
  padding: 50px;
  background-color: none;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom)*/
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 10px !important;
}

.nav-pills .nav-link {    
    width: 10rem !important;
}

#herbsList {
    padding: 10px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.imageSize img {
    width: 300px;
    height: 400px;
    align-items: center;
}

.containerHerbs {
    width: 100%;
}

#herbPhoto{
    width: 100px;
    height: 150px;
    align-items: center;
}

@media (min-width: 350px) {
    .plant-canvas {
        flex-direction: column;
        align-items: center;
    }
/* 
@media (min-width: 350px) {
    .main-header,
    .nav {
        flex-direction: column;
        align-items: center;
        display: flex;
        width: 75%;
        margin: 0 auto;
        max-width: 1150px;
    }
} 

/* @media only screen and (min-width:720px) {
    .main-header,
    .nav {
        flex-direction: row;
        justify-content: space-between;
    }
} */}