/* ---- Base Element Styles ---- */

html {
    color: black;
    font-size: first-letter 20px;
    line-height: 1.5;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}
body {
    background-color: rgb(178, 238, 175);
    max-width: 100%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 25px;
    }
/* .wrapper {
    width: 95%;
    margin: 0 auto;
} */

h1 {
    margin-top: 10px;
}
img {
    max-width: 100%;
}

/* ----Layout Containers ----*/

/* ----Navigation Tabs ----*/

.name {
    font-size: 25px;
    margin: 0;
}
.nav {
    margin-top: 7px;
}
.name a,
.nav a {
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px 0;
    text-align: center;
    text-decoration: black;
    font-weight: bold;
    color:black;
    background: none;
}
/* .header-container {
    background: 15px solid #6de46d   
}

.footer-container {
    background: 15px solid #c0e2c0;
}
.container {
    padding-left: 1em;
    padding-right: 1em;
}

.title {
    color:rgb(179, 48, 179);
    font-size: 30px;
} */

.nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: square;
}

.nav li {
    margin: 0;
    padding: 0;
    display: block;
}

.nav a:hover,
.nav a:visited {
    color:grey;
}

#page_wrapper {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* --- Layout Containers ---*/

.main-header {
    padding: 25px 10px;
}
.banner,
.main-footer {
    text-align: center;
}

.banner {
    color: black;
    background: rgb(238, 248, 224);
    padding: 5px 0;
    margin-bottom: 20px;
}

.main-footer {
    background-color: rgb(172, 172, 177);
    padding: 2.5px;
    margin-top: 25px;
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
   }

/* --- Page Elements --- */
.logo {
    width: 25%;
    position: left;  
    border-radius: 25px;
}

.headline {
    margin-bottom: 0;
}

.herbs {
    align-self: center;
}

/* .main article h1 {
    font-size:2.5em;
}
 */
/* .icon-location {
    width: 25px;
    position: center, absolute;
    top: -10px;
    left: -10px;
    z-index: 2.5;
  }
  
.footer-container {
   
    background:burlywood;
    padding: 15px 0;
} */


/* ----Media Queries---- */
@media (min-width: 350px) {
    .main-header,
    .nav {
        flex-direction: column;
        align-items: center;
        display: flex;
        width: 75%;
        margin: 0 auto;
        max-width: 1150px;
    }
} 

@media only screen and (min-width:720px) {
    .main-header,
    .nav {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* 
.plant-canvas {
    padding: .75rem 0;
    margin: 0 -1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; */
/* }

@media (min-width: 720px) {
    .plant-canvas {
        flex-direction: column;
        align-items: center;
    }
} */
/* 
.plant-canvas .media {
    position: relative;
    display: block;
    width: 9rem;
    height: 6.25rem;
    border-radius: .25rem;
}


@media only screen and (min-width: 450px) {

    nav a {
        float: left;
        width: 25%;
        margin: 0 0 0 5%;
        padding: 20px 1%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
}

@media only screen and (min-width: 720px),
       only screen and (min-width: 700px) and (orientation: landscape) {
    
    .title {
        float: left;
        font-size: 1.5em
    }

    nav {
        float: right;
        width: 60%;
    }

    nav a {
        padding: 10px 1%;
    }

    .main article {
        float: left;
        width: 55%;
    }
}

@media only screen and (min-width:1025px) {
    .wrapper {
        width: 990px;
        margin: 0 auto;
    }

    .title {
        font-size: 2em;
    }

    nav a {
        padding: 25px 1%;
    }
} */
 
/* ----Clearfix---- */
/* .clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} */